web:
  restart: "no"
  image: benmusch/mit-tab:latest
  ports:
    - "8000:8000"
  volumes:
    - ./:/usr/src/app
    - ${HOME}/.ssh:/root/.ssh
  env_file:
    - .env
  environment:
    - PYTHONPATH=/usr/src/app
    - FLASK_APP=/usr/src/app/deployer/__init__.py
  command: ./bin/start_web

celery:
  restart: on-failure
  image: benmusch/mit-tab:latest
  volumes:
    - ./:/usr/src/app
    - ${HOME}/.ssh:/root/.ssh
  env_file:
    - .env
  environment:
    - PYTHONPATH=/usr/src/app
    - FLASK_APP=/usr/src/app/deployer/__init__.py
  command: ./bin/start_celery

celery-beat:
  restart: on-failure
  image: benmusch/mit-tab:latest
  volumes:
    - ./:/usr/src/app
    - ${HOME}/.ssh:/root/.ssh
  env_file:
    - .env
  environment:
    - PYTHONPATH=/usr/src/app
    - FLASK_APP=/usr/src/app/deployer/__init__.py
  command: celery -A deployer.tasks.celery beat

flower:
  restart: on-failure
  image: benmusch/mit-tab:latest
  ports:
    - "5555:5555"
  volumes:
    - ./:/usr/src/app
    - ${HOME}/.ssh:/root/.ssh
  env_file:
    - .env
  environment:
    - PYTHONPATH=/usr/src/app
    - FLASK_APP=/usr/src/app/deployer/__init__.py
  command: ./bin/start_flower

nginx:
  restart: always
  image: nginx:1.15-alpine
  command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
  ports:
    - "80:80"
    - "443:443"
  volumes:
    - /www/static
    - ./data/nginx:/etc/nginx/conf.d
    - ./data/certbot/conf:/etc/letsencrypt
    - ./data/certbot/www:/var/www/certbot
  volumes_from:
    - web
    - flower
  links:
    - web:web
    - flower:flower

certbot:
  image: certbot/certbot
  entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
  volumes:
    - ./data/certbot/conf:/etc/letsencrypt
    - ./data/certbot/www:/var/www/certbot

