[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "==1.4.7"
celery = "==4.2"
gunicorn = "==19.7.1"
python-digitalocean = "==1.10"
raven = "==6.1.0"
stripe = "==2.18"
tenacity = "==5.0.3"
flower = "==0.9.2"
Flask = "==0.12.3"
Flask-Bootstrap = "==3.3.7.1"
Flask-SQLAlchemy = "==2.1"
Flask-WTF = "==0.14"
Flask-Mail = "==0.9"
Flask-Migrate = "==2.0"
Jinja2 = "==2.11.3"
werkzeug = "==0.16"
paramiko = "*"
tornado = "==4.2"
scp = "*"
flask-login = "*"
oauthlib = "*"
requests = "*"
email-validator = "*"

[requires]
python_version = "3.7"
