<p>Hello,</p>

<p>This email is a confirmation that your tournament has been created.</p>

<p><strong>URL:</strong> <a href='{{ "http://{0}.nu-tab.com".format(tournament_name) }}'>{{ tournament_name }}.nu-tab.com</a></p>
<p><strong>Username:</strong> tab</p>
<p><strong>Password:</strong> {{ password }}</p>

<p>Note: This password cannot be changed.</p>

<p>Your server will stay alive for <strong>4 weeks</strong> from now before its
deleted. If you need more time, you can reply to this email to let me know.
<strong>There are no back-ups once the server is deleted! You will lose the
  results of the tournament.</strong></p>

<p>Pro tip: You can import the teams, rooms, and judges in bulk with an Excel
file following <a href="https://github.com/jolynch/mit-tab#batch-data-import">these instructions.</a>
</p>

<p>Questions? Just respond to this email and I'll get back to you. My phone
number is 813-469-0382 if anything urgent comes up.</p>

<p>Best,</p>
<p>Ben</p>
