<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>MIT-Tab Deployer</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="row" id="content">
          <br/>
          {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
          {% endfor %}
          {% block content %}{% endblock %}
        </div>

        <div class="row">
          <hr>
          <center>
            <span>Questions or issues?
              <a href="mailto:benmuschol@gmail.com">Email Ben</a>
            </span>
            <br><br>
          </center>
        </div>
      </div>
    </div>
  </body>
</html>
