{% extends "base.html" %}

{% block content %}
  <center>
    <h1>Create a Tournament</h1>
  </center>
  <br>

  <form action="/tournaments/new"
    method="post"
    id="form"
    name="tournament">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.name.label }}
      <span class="help-block">
        This will be the subdomain for the tournament (e.g.
        example.nu-tab.com). Cannot include spaces or special characters.
      </span>
      {% for error in form.name.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.name(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.email.label }}
      <span class="help-block">
        You will receive an email with info about running the tournament.
      </span>
      {% for error in form.email.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.email(class='form-control', id='email') }}
    </div>

    <div class="form-group">
      {{ form.deletion_date.label }}
      <span class="help-block">
        The tournament will be deleted on this date. The cost of a tournament is
        a $15 fixed fee + $1 per day active.

        It's recommended to select a few days after your tournament ends to give
        yourself time to upload results.
      </span>
      {% for error in form.deletion_date.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.deletion_date(placeholder="mm/dd/yyyy", class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.repo_options.label }}
      {% for error in form.repo_options.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.repo_options(class='form-control') }}
    </div>

    <input type="submit"
           id="submit_button"
           value="Continue"
           class="btn btn-primary" />

  </form>
{% endblock %}
