{% extends "base.html" %}

{% block content %}
  <center>
    <h1>Create a Tournament</h1>
  </center>
  <br>

  <form action="/tournaments/new" method="post" name="tournament">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.name.label }}
      <span class="help-block">
        This will be the subdomain for the tournament (e.g.
        example.nu-tab.com). Cannot include spaces or special characters.
      </span>
      {% for error in form.name.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.name(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.email.label }}
      <span class="help-block">
        You will receive an email with info about running the tournament.
      </span>
      {% for error in form.email.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.email(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.password.label }}
      <span class="help-block">
        You should choose a password you're comfortable sharing with tab staff
        members. Avoid something you use for other web sites.
      </span>
      {% for error in form.password.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.password(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.confirm.label }}
      {% for error in form.confirm.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.confirm(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.add_test.label }}: {{ form.add_test }}
      <span class="help-block">
        This will spin up a smaller tournament at
        [tournament_name]-test.nu-tab.com pre-loaded with test data. If you've
        never run a tournament with mit-tab, this is a good way to learn the
        software. Note: The login for the tab user will always be 'password'
      </span>
      {% for error in form.add_test.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
    </div>

    <div class="form-group">
      {{ form.repo_options.label }}
      {% for error in form.repo_options.errors %}
        <span class="text-danger">[{{error}}]</span>
      {% endfor %}<br>
      {{ form.repo_options(class='form-control') }}
    </div>

      <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="{{stripe_key}}"
        data-amount="{{stripe_cost}}"
        data-name="MIT-Tab Server"
        data-locale="auto">
      </script>
    </form>
  </form>
{% endblock %}
