{% extends "base.html" %}

{% block content %}
<div id="tournament">
  <center>
    <h2>[[ tournament.name ]]</h3>
    <div v-if="deployed">
      <span class="lead">Deployed!</span>
      <br/>

      <small>
        Visit your tournament <a href="{{tournament.url}}">here</a> and check your email for more information
      </small>
      <small>
        Note: It might take a few hours for the domain name to work.
        Check your email for more info on how to confirm that it is setup properly.
      </small>
    </div>
    <div v-else>
      <span class="lead">[[ tournament.status || 'Waiting for response' ]][[ '.'.repeat(dots) ]]</span>
      <br/>
      <small v-if="tournament.status === 'An error occurrred'">
        Looks like an error occurred. Don't worry, you won't have to pay again.
        Contact Ben via the link in the footer and we'll get things working.
      </small>
      <small v-else>
        If this process takes longer than 10-15 minutes, email Ben at the link below
      </small>
    </div>
  </center>
</div>

<script type="text/javascript">
var app = new Vue({
  el: '#tournament',
  data: {
    tournament: {
      name: '{{ tournament.name }}',
      status: '{{ tournament.status }}'
    },
    dots: 3
  },
  // Use [[  ]] to wrap vue to prevent conflicts with Jinja
  delimiters: ['[[',']]'],
  computed: {
    deployed: function() {
      return this.tournament.status == 'Deployed'
    }
  },
  methods: {
    updateTournament: function() {
      axios.get(window.location + '/status')
        .then(function(response) {
          data = response.data
          this.tournament.status = data.status
          this.deployed = data.deployed

          if (this.deployed) {
            clearInterval(this.intervals.tournament)
            clearInterval(this.intervals.dots)
          }
        }.bind(this))
    },

    updateDots: function() {
      this.dots = ((this.dots + 1) % 4)
    }
  },

  mounted: function() {
    this.interval = {
      tournament: setInterval(this.updateTournament, 10000),
      dots: setInterval(this.updateDots, 1000)
    }
  }
})
</script>
{% endblock %}
