{% extends "bootstrap/base.html" %}
{% block title %}Tournaments list page{% endblock %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <!-- <strong>Title</strong> --> {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
  <h1>Tournaments</h1>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th>Active?</th>
      <th>Created At</th>
      <th>Deletion Date</th>
      <th>Git Branch</th>
      <th colspan="1">Actions</th>
    </thead>
    <tbody>
      {% for tournament in tournaments %}
      <tr>
        <td>{{ tournament.name }}</td>
        <td>{{ tournament.status }}</td>
        <td>{{ tournament.active }}</td>
        <td>{{ tournament.created_at }}</td>
        <td>{{ tournament.deletion_date }}</td>
        <td>{{ tournament.branch }}</td>
        <td>
          {% if tournament.active %}
            <form
              onsubmit="return confirm('Delete {{ tournament.name }}?')"
              method="post"
              action="/admin/tournaments/{{ tournament.id }}/delete"
              class="form-inline">
              <input type="submit" value="Delete"/>
            </form>
          {% endif %}
        </td>
        <td>Coming soon...</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
